<!DOCTYPE HTML>

<html>


<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<title>Brown University Library</title>

<link href="http://library.brown.edu/css_2011/BUL2011.css" rel="stylesheet" type="text/css" />

<!-- script below from http://code.google.com/p/css3-mediaqueries-js/ - forces earlier browsers to interpret CSS media queries -->
<script type="text/javascript" src="scripts_2011/css3-mediaqueries.js"></script>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->




</head>


<body>


<div id="wrapper">


    <div id="header">

        
        <div class="BUhomelink">
            <a href="http://www.brown.edu"><img src="http://library.brown.edu/images/spacer.gif" width="50" alt="Brown University Homepage" title="Brown University Homepage" /></a>
        </div>
        
        <div class="BULhomelink">
            <a href="http://library.brown.edu/"><img src="http://library.brown.edu/images/spacer.gif" width="440" height="30" alt="Brown University Library Homepage" title="Brown University Library Homepage" /></a>        
        </div>
    
    </div> <!-- end #header -->

    <div id="content">
    
    <div>
      <h1>User stuff</h1>
      <p>The mapped shib attributes will display here.</p>
      <ul>
          <li>username: {{ user.username }}</li>
          <li>name: {{ user.first_name }} {{ user.first_name }}</li>
          <li>email: {{ user.email }}</li>
      </ul>
    </div> <!-- /container -->
    
    
    </div>


</div> <!-- end #wrapper -->


<div id="footer">

    <div id="footer_contents">

        <div class="social_media_links">
          <a href="http://mobul.boopsie.com/"><img src="http://library.brown.edu/img_2011/moBUL_icon.png" alt="moBUL - Mobile Brown University Library"></a>
          <a href="http://library.brown.edu/about/public_feeds.php"><img src="http://library.brown.edu/img_2011/RSS_footer_icon.png" alt="Brown University Library RSS Feeds"></a>
          <a href="http://www.facebook.com/pages/Brown-University-Library/278826488901"><img src="http://library.brown.edu/img_2011/Facebook_icon.png" alt="Brown University Library Facebook"></a>
          <a href="http://twitter.com/brownlibrary"><img src="http://library.brown.edu/img_2011/twitter_icon.png" alt="Brown University Library Twitter"></a>
          <a href="http://library.brown.edu/gateway/lrg.php?id=67&task=home"><img src="http://library.brown.edu/images/fdlp_logo_32x29.gif" alt="Federal Depository Library Program"></a>
        </div>
    
        <p><a href="http://library.brown.edu/">Brown University Library</a> &nbsp;&#124;&nbsp; Providence,&nbsp;RI&nbsp;02912 &nbsp;&#124;&nbsp; (401)&nbsp;863-2165 &nbsp;&#124;&nbsp; <a href="http://library.brown.edu/about/stafflist.php">Contact</a> &nbsp;&#124;&nbsp; <a href="http://library.brown.edu/forms/comments.php">Comments</a> &nbsp;&#124;&nbsp; <a href="http://library.brown.edu/forms/feedback.php">Website&nbsp;Feedback</a> &nbsp;&#124;&nbsp; <a href="sitemap.php">Site&nbsp;Map</a></p>
    
    
    </div> <!-- end #footer_contents -->

</div> <!-- end #footer -->


</body>


</html>


